[submodule "PavagesPolyominosJS"]
	path = Semestre_5_L3/ProjetTuto/PavagesPolyominosJS
	url = https://github.com/Viet281101/PavagesPolyominosJS
[submodule "Semestre_5_L3/Moteur_de_Jeux/Projet"]
	path = Semestre_5_L3/Moteur_de_Jeux/Projet
	url = https://github.com/Viet281101/CastlevaniaJS
[submodule "Semestre_5_L3/Développement_mobile/Projet"]
	path = Semestre_5_L3/Développement_mobile/Projet
	url = https://github.com/Viet281101/MusicPlayerApp.git
[submodule "Semestre_5_L3/Algo_Avancée/Projet/Othello"]
	path = Semestre_5_L3/Algo_Avancée/Projet/Othello
	url = https://github.com/Viet281101/OthelloAI.git
[submodule "Semestre_3_L2/Algo_Prog_Graphic_L2/GL4Dummies"]
	path = Semestre_3_L2/Algo_Prog_Graphic_L2/GL4Dummies
	url = https://github.com/noalien/GL4Dummies.git
[submodule "Semestre_5_L3ProjetTutoPavagesPolyominosJS"]
	path = Semestre_5_L3ProjetTutoPavagesPolyominosJS
	url = https://github.com/Viet281101/PavagesPolyominosJS.git
[submodule "Semestre_5_L3/ProjetTuto/PavagesPolyominosJS"]
	path = Semestre_5_L3/ProjetTuto/PavagesPolyominosJS
	url = https://github.com/Viet281101/PavagesPolyominosJS.git
